@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(18, 14, 22, 0.98);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(14, 165, 233, 1);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff0000 #f1f1f1;
}
